[Unit]
Description=Run CrowdSec bouncer pruning daily

[Timer]
OnCalendar=*-*-* 23:51:00
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target 